<div class="cont position-absolute mx-auto">
    <div class="navbar">
        <button class="mt-3 mx-5 back" routerLink="/home">
            <i class="fa-solid fa-angle-left"></i>
        </button>
    </div>
    <div class="justify-content-center mx-auto inter mt-5">
        <div class="texto precio mt-10" >
            S/{{propuesta.price}}
        </div>
        <div class="texto nombre">
            {{comprador.name}}
        </div>
        <div class="texto mt-5" >
            esperando a la otra persona ...
        </div>
    </div>
    <div class="justify-content-center mx-auto botom" >
        <button class="cancelar" (click)="AnularAsignacion()">
            cancelar
        </button>
    </div>
</div>
