<div class="target mx-auto container" >
    <div class="row">
        <a [routerLink]="['subasta-c',target.idSubasta]" class="col-10 text-break">
            <h2 class="titulo" >{{target.chatarra.titulo}}</h2>
            <p>{{target.chatarra.description}}</p>

            <div *ngIf="target.seleccionado==null">
                <div *ngIf="propuesta!=null">
                    <h2 class="nombre"  >
                        {{propuesta.comprador.name}}
                    </h2>
                    <h1 class="precio" >
                        S/{{propuesta.price}}
                    </h1>
                </div>
                <div *ngIf="propuesta==null">
                    <h2 class="no_propuesta"   >
                        "no hay propuestas"
                    </h2>
                </div>
                
            </div>
            <div *ngIf="target.seleccionado!=null" >
                <h2 class="nombre" *ngIf="propuesta!=null" >
                    {{target.seleccionado.comprador.name}}
                </h2>
                <h1 class="precio" *ngIf="propuesta!=null" >
                    S/{{target.seleccionado.price}}
                </h1>
            </div>
        </a>
        <div class="col-1">
            <span class="icon">
                <i [class]="icon_status(target.status)"></i>
            </span>
        </div> 

    </div>
       

</div>