@font-face {
    font-family: "Comfortaa";
    src: url("../../../../../fonts/Comfortaa-VariableFont_wght.ttf");
    font-weight: bold;
}

.tamaño{
    max-width: 700px;
    min-width: 200px;
    padding: 0 30px 0 30px;
}

.positiona{
    height: 100%;
    width: 100%;
    text-align: center;
}

.positiona h3{
    font-size: 30px;
    font-family: "Comfortaa";
}
