.target{
    background-color: #6DD5ED;
    color: white;
    width: 75%;
    min-width: 23rem;
    padding: 2rem;
    transition: 0.3s;
}

.titulo{
    font-weight: 700;
    font-size: 1.6rem;
    text-shadow:-2px -2px 2px rgb(0, 0, 0),
     2px 2px 2px rgb(0, 0, 0),
      -2px 2px 2px rgb(0, 0, 0),
       2px -2px 2px rgb(0, 0, 0);
    color: #41BF49;
}

.icon{
    font-size: 3rem;

}
.target:hover{
    box-shadow: #2a2a2a 1rem;
}


.target a{
    text-decoration: none;
    color: inherit;
}

.editar{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #28c3e6;
    color: #2a2a2a;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    padding: 0.3rem;
    font-weight: bolder;
    font-family:sans-serif;
}
.editar:hover{
    background-color: #74e4fd;
    transition: 0.3s;
}


