<aside class="slidebar" [ngClass]="{'slidebar--active':toggle}">
    <!-- <aside class="slidebar sidebar--active" > -->
    <ul class="mt-5 margin" >
        <!-- <li>
            <a href="">lorem 1</a>
        </li>
        <li>
            <a href="">lorem 2</a>
        </li> -->
        <li class="">
            <a class="logout" (click)="cerrarSesion()">Cerrar Sesion</a>
        </li>
    </ul>
</aside>
<div  class="navbar">
    <div class="col-12">
        <button class="navbar-toggler" type="button" (click)="toggleSlideBar()">
            <i class="fa-solid fa-bars icon-var"></i>
        </button>
    </div> 
    <div class="col-12">
    </div>

    <div class="row nav" >
        <button class="col-5" routerLink="/Comprador-home">
            <a >Mis Subastas</a>
        </button>
        <button class="col-5" routerLink="listaSerca">
            <a >Subastas Sercanas</a>
        </button>
    </div>
    
    <div class="container " >
        <div class="row nav">
            
        </div>
    </div>
</div>




<div>
    <router-outlet></router-outlet>
</div>